<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "LocalnetworkMovies", suffix: " · Phoenix Framework" %>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body style="background-color: #202124">
    <div class="container mx-auto pt-10">
      <div class="grid lg:grid-cols-6 sm:grid-cols-1">
        <div class="lg:col-start-2 lg:col-end-6 sm:col-span-1">
          <div class="text-white text-center font-mono font-bold text-5xl pb-10">
            Local Network Movies
          </div>
          <%= @inner_content %>
        </div>
      </div>
    </div>
  </body>
</html>
